# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
local_settings.py

# Virtualenv
venv/
ENV/
env/
.venv/
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Git
*.swp
*.swo

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.pyo
*/migrations/*.db
*/migrations/*.sqlite3

